In [1]:
import pandas as pd 
from sqlalchemy import create_engine
from time import time

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
engine.connect()

In [10]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

Creation of Data Definition Language to create a schema based on the csv file

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [12]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

Using con=engine (postgres)

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

Since the data is too big (1.7 million), it is recommended to iterate it and divide it in a couple of chunks

In [14]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [15]:
df = next(df_iter)

Checking the size

In [16]:
len(df)

100000

In [17]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
# df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

Inserting the first chunck. Use append instead

In [20]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.38 s, sys: 55.9 ms, total: 2.43 s
Wall time: 3.8 s

1000

Doing it using a while loop

In [7]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)
while True:
    try:
        t_start = time()

        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        # df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        df.to_sql(name='zone', con=engine, if_exists='append')

        t_end = time()

        print('Inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        break

inserting 2019 data

In [18]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv.gz', compression='gzip', iterator=True, chunksize=100000)
while True:
    try:
        t_start = time()

        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        # df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        df.to_sql(name='green_tripdata_2019', con=engine, if_exists='append')

        t_end = time()

        print('Inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        break

Inserted another chunk, took 4.622 second
Inserted another chunk, took 4.480 second
Inserted another chunk, took 4.565 second

/var/folders/ck/95hvrzr56nv2z2m7bh6zptjc0000gn/T/ipykernel_52281/2433135247.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk, took 4.500 second
Inserted another chunk, took 3.163 second

In [4]:
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True)

In [5]:
while True:
    try:
        t_start = time()

        df = next(df_iter)

        # df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        df.to_sql(name='zone', con=engine, if_exists='append')

        t_end = time()

        print('Inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        break

Inserted another chunk, took 0.062 second